.button_container {
  /* background-color: rgb(71, 255, 151); */
  margin-bottom: 15px;
  display: flex;
  justify-content: right;
  padding: 15px;
  border-bottom: 1px solid black;
}
.button {
  background-color: rgb(50, 177, 220);
  padding: 6px 14px;
}
.nulisIrasu {
  color: tomato;
}
