h3 {
  margin-bottom: 0px;
}
.container {
  display: flex;
  max-width: 400px;
  height: 100px;
  margin: 50px auto;
  background-image: linear-gradient(to left, rgb(210, 211, 213), rgb(50, 177, 220));

  text-align: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
  justify-content: space-around;
}
.container_private {
  align-items: center;
  justify-content: center;
}
