.navLink {
  display: inline-block;
  padding: 1em 1.7em;
  color: rgb(108, 108, 108);
}
.navLink.active {
  color: rgb(108, 108, 108);
  display: inline-block;
  padding: 1em 1.7em;
  text-decoration: underline;
}
.navLink:hover {
  background-color: rgb(171, 184, 255);
}
