/* * {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
} */
.navLink {
  display: inline-block;
  padding: 1em 1.7em;
  color: rgb(105, 105, 105);
  font-size: 14px;
}
.navLink.active {
  color: rgb(105, 105, 105);
  display: inline-block;
  padding: 1em 1.7em;
  text-decoration: underline;
}
.navLink:hover {
  background-color: rgb(114, 160, 177);
  color: aliceblue;
}
.container {
  display: flex;
  max-width: 400px;
  height: 450px;
  margin: 50px auto;
  /* background-image: linear-gradient(to left, rgb(210, 211, 213), rgb(50, 177, 220)); */
  background-color: rgb(196, 208, 214);
  text-align: center;
  /* background-image: url('bgImg.jpg'); */
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container_form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  padding-left: 25px;
  padding-right: 25px;
}
.fa:hover {
  cursor: pointer;
}
.fa {
  font-size: 20px;
}
.container_login {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(106, 53, 53, 0.514); */
  padding-left: 25px;
  padding-right: 25px;
}
